h1 {
  background: #ffa;
  margin: -1em -1em 1em -1em;
  padding: 1em 0;
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.8);
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 10px;
  text-align: center;
}

hr {
  border: none;
  height: 1px;
  background: #ccc;
  margin: 1em 0;
}

#home_page input, #new_echo_page input, #show_echo_page input {
  border: 1px solid #000;
  background: #aaa;
  font-size: 5em;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#home_page input:hover, #new_echo_page input:hover, #show_echo_page input:hover {
  background: #aaf;
}


#error_page {
  text-align: center;
}

#error_page h2 {
  color: #f33;
}

#error_page p {
  font-size: 1.5em;
  line-height: 1.5em;
}


#home_page {
  text-align:center;
}
#home_page img {
  margin: 1em;
}
#home_page a {
  font-size: 5em;
}



strong {
  color: #000;
  background: #ddd;
  font-size: 1.1em;
}



#new_echo_page {
  text-align:center;
}

#new_echo_page input:hover {
  background: #ccc;
}


#show_echo_page {
  text-align:center;  
}

#show_echo_page input:hover {
  background: #ccc;
}


span.on {
  color: #6a6;
}
span.off {
  color: #a66;
}


#footer {
  text-align:right;
}

#container {
  width: 800px;
  background: #fff;
  padding: 10px;
  margin: 0 auto;
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.8);
}

body {
  background: #aaa;
  padding: 0;
  margin: 0;
}


#another_account {
  border: 1px solid #660;
  background: #fea;
  padding: 1em;
}

#intro p{
  text-align: justify;
  font-size: 1.3em;
  margin: 1em 0;
}

#intro {
  margin: 4em;
}
