<h1>Twitter Timeout</h1>
<div id="error_page">
  <h2>Refresh the page to try again.</h2>
  <p>
    Twitter, from time to time, is very slow.<br/> This time it took more than 5 seconds to respond so I gave up.
  </p>
</div>
