<h1>New echo for <strong><%= h(@echo.username) %></strong></h1>

<% form_for(@echo) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.submit 'Create Echo' %>
  </p>
<% end %>

<%= link_to 'Back', echoes_path %>