<div id="new_echo_page">
  <h1>Echoing of direct messages for <strong><%= h(@echo.username) %></strong> is <span class="off">disabled</span></h1>  
  <%= image_tag "sound-small.jpg" %>
  <% form_for(@echo) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.submit 'Start Echoing' %>
    </p>
  <% end %>
</div>
