<div id="show_echo_page">
  <h1>Echoing of direct messages for <strong><%=h @echo.username %></strong> is <span class="on">enabled</span></h1>
  <%= image_tag "sound-small.jpg" %>
  <p>
    <%= button_to 'Stop Echoing', @echo, :method => :delete %>
  </p>
</div>
<%= render :partial => "another_account" %>
